<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <% if(!isAuthenticated) { %>
      <%- include("partials/nav-unsigned") %>
    <% } else { %>
      <%- include("partials/nav-signed") %>
    <% } %>
    <!-- Title -->
    <div class="row title-row">
      <h1 class="title" id="title-index"> Take your reading experience <br> to another level </h1>
    </div>
  </div>
</section>
<div class="jumbotron jumbotron-fluid" style="padding: 7% 10%;">
  <div class="container">
    <h1 class="display-2" style="margin-bottom: 3%;">Get rid of zoning-out now!</h1>
    <p class="lead" style="font-size: 1.5rem;">Your mind can recognize words way faster than what you think, however it can only put full concentration on what object.
      <br>Therefore <strong><em>U-Read Bolt</em></strong> plays on that, and make you read your essays and books faster and more <strong>more efficiently</strong> 
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="padding: 7% 10%; background-color: #212529;">
  <div class="container">
    <h1 class="display-3" style="margin-bottom: 3%; color: #fff;">Upload</h1>
    <p class="lead" style="font-size: 1.5rem; color: #fff;">
      Select a PDF file or even paste an essay, and start experiencing this clever way of reading.
    </p>
    <form action="/upload" method="get">
      <button class="btn btn-outline-light" type="submit">To upload</button>
    </form>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="padding: 7% 10%;">
  <div class="container">
    <h1 class="display-3" style="margin-bottom: 3%;">Challenge Yourself</h1>
    <p class="lead" style="font-size: 1.5rem;">
      Try our game and see for yourself how fast your mind can catch the full sentences that the game throws at you.
    </p>
    <form action="/game" method="get">
      <button class="btn btn-outline-dark" type="submit">To the game</button>
    </form>
    <div style="text-align: center; margin-top: 10%;">
      <h1 class="display-6" style="margin-bottom: 5%;">Register and save your progress</h1>
      <form action="/login" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-outline-dark btn-lg">Login</button>
      </form>
      <form action="/register" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-dark btn-lg">Register</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/social-links") %>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- My jQuery -->
<script type="text/javascript" src="javascript/index.js"></script>

<%- include("partials/footer") %>